@import "../../../_App.module.scss";
.SideMenu{
    position: fixed ;
    top: 0px ;
    bottom: 0px ;
    width: $SideMenueWidth ;
    transition: all .5s ;
    overflow : hidden ;
    box-shadow:$DefaultBoxShadow ; 
    z-index : 2 ;
    background-color: #fff ;
    .LogoContainer{
        padding : $SideMenueWidth/10 ;
        background-color : #eee;
        border-bottom : solid 1px #ddd;
        max-height : 10% ;
        display : flex ;
        .Image{
            max-width: $SideMenueWidth - ($SideMenueWidth/5) ;
            padding-inline-end: $SideMenueWidth/5 ;
        }
        .BtnContainer{
            width: $SideMenueWidth ;
            display : inherit ;
            justify-content : flex-end ;
            align-items :center ;
        }
    }
        .Route{
            padding :$defaultPadding ;
            width : $SideMenueWidth*2 ;
            a {
                color : $defaultColor  ;
                text-decoration : none ;
                i {
                    text-align : center ;
                    width : $SideMenueWidth ;
                }
                .Small{
                    font-size :  $SideMenueWidth/10 ;
                }
                .projectName{
                    height : 0px;
                    display : none ;
                    margin-bottom: 0px;
                    color: #000 ;
                    font-weight: bolder ;
                    transition:.5s;
                    font-size : $SideMenueWidth/8 ;
                }
            }
         }
    &:hover{
        width: $SideMenueWidth*2 ;
        .projectName{
            height : 100%;
            display : block !important;
            margin-inline-start: $SideMenueWidth/2;
        }
    }
}