@import"../../../App.module";
.TableContainer{
    max-height : 350px !important ;
    overflow : auto ;
    .Table{
        width: 100% ;
        thead{
            background-color : #eee;
            padding : 20px 10px;
            th{
                padding : 20px 10px;
                color : $defaultColor;
                font-weight : lighter ;
                text-align: start ;
                border : none ;
                margin : 0px ;
                top: 0;
                z-index: 2;
            }
        }
        .Span1{
            width: 5% ;
            padding : 20px;
        }
        .Span2{
            width: 50%;
        }   
        .TableRow{
            color : $defaultColor ;
            td {
                padding : 5px ;
            }
        }
}
}