@import "../../../App.module";
.Header{
    .ChangeLanguageContainer {
        padding : 20px ;
        display : flex ;
        align-items : center ;
        justify-content : space-between ;
        .LastProject{
            color : $defaultColor ;
            font-size  : 1rem ;
        }
    }
    .SubHeader{
        text-align : center ;
        padding : 16px 0px;
        box-shadow: $DefaultBoxShadow;
        .Address{
            color : $defaultColor ;
        }
    }
}
@media(max-width:570px){
        .Header{
            .ChangeLanguageContainer {
                display : block ;
                text-align : center ;
        }
    }
}