.InputContainer{
    position:relative;
    padding : 20px 0px;
    margin : 10px ;
    label{
        position : absolute ;
        top : 10px;
        background-color : #fff ;
        padding : 3px ;
    }
    .Input{
        width:100% ;
        border :solid 1px #ccc;
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 2.2;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        outline : none ;
        &:focus{
            border: 1px solid rgba(81, 203, 238, 1);
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        }
    }
}
