@import "../../../_App.module.scss";
.Button{
    border-radius: 5px;
    height: fit-content;
    padding: 10px ;
    font-weight: bolder ;
    margin: 10px;
    cursor: pointer;
    outline: none ;
    border : none ;
}
.Primary{
    border-color:#2e6da4 ;
    color: white;
    background-color: $ButtonAndSpinerBackGroundColor ;
}
.Default{
    color : white; 
    border : solid 1px #ccc ;
    background-color : white ;
    color : #aaa ;
}
.Radio{
    outline : none ;
}