@import "../../App.module";
.Tab3Container{
    padding : 25px ;
    .Form{
        .SubjectContainer ,  .StatusContainer , .NumContainer , .NameContainer{
            display : inline-block ;
            padding : 10px 20px; 
        }
        .SubjectContainer , .NumContainer{
            width: 30% ;
        }
        .StatusContainer , .NameContainer{
            width: 60%;
            padding : 10px 20px ;

        }
        .NumContainer{
            input {
                width: 60% ;
            }
        }
        .NameContainer
        {
            input {
                width: 30% ;
            }
        }
    }
    .Previous{
        font-weight : lighter ;
        padding :10px 0px;
        border-bottom :solid 2px #ccc;
    }
}
@media(max-width:860px){
    .Form{
        .SubjectContainer ,  .StatusContainer , .NumContainer , .NameContainer{
            display :block ;
            width : 90% !important;

        }
        .SubjectContainer , .NumContainer , .NameContainer
        {
            input {
                min-width: 100%!important;
            }
        }
        .StatusContainer{
            span {
                display: block ;
                padding : 10px 0px ;
            }
        }
    }
}